#
# Copyright 2014, NICTA
#
# This software may be distributed and modified according to the terms of
# the GNU General Public License version 2. Note that NO WARRANTY is provided.
# See "LICENSE_GPLv2.txt" for details.
#
# @TAG(NICTA_GPL)
#

config APP_SELFCONNECTEDPROCEDURE
    bool "Self-connected procedure example"
    default n
    help
        An example of a component with a procedure interface connected to the
        same component.
